html{
	margin:0px;
	font-size: 16px;
	font-size:100%;
	
}
body{
	margin:0px;
	height: 100rem;

	
	/*background-color: rgb(223, 229, 233);*/

	
}
/*######################
header 设置 开始
######################*/

/* header */

#nav{
	background-color:rgb(32, 47, 56);

}
.navbar{
    margin-bottom: 0px;
    border-radius:0px;
}
#brand{

}
/* navbar */
.navbar-default {
    background-color: rgb(32, 47, 56);
    border-color: #E7E7E7;
    height: 3.5rem;
}
/* title */
.navbar-default .navbar-brand {
    color: white;
    font-weight: 900;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: white;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
    border-bottom:3px solid rgb(40, 171, 200);
    
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: black;
    border-bottom:3px solid rgb(40, 171, 200);

}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: white;
    background-color: black;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
.form-nav{
 	padding-right: 7rem;
 }
@media only screen and (max-width: 1270px) {/*设置导航字体*/
 .navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
    border-bottom:none;
    
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: black;
    border-bottom:none;

}
 .form-nav{
 	padding-right: 2rem;
 }

}



/*######################
header 设置 结束
######################*/

/*#######################
main-pic开始
#######################*/

#main-pic{
    width: 100%;
    height: 32rem;
    background-color: #6f5499;
    background-color: #4694D1;
    /*margin-top: 3rem;*/
}
#pic-content{
    width: 80%;
    height: 32rem;
   
    margin: auto;
}
#blank_one{
    width: 100%;
    height: 0rem;
    margin: auto; 
}
#logo-square{
    width: 100%;
    height: 11rem;
    margin: auto; 
    text-align: center;
    
    
}
.iconfont-pic{
    font-family:"iconfont" !important;
    font-size:9.375rem;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color: white;
}
#desc-content{
    margin: auto;
    text-align: center;
    width: 100%;
    margin-top: 1rem;

    
}
.lead{
    color: rgb(255, 255, 255);
    display: block;
    font-family: 'Helvetica Neue', Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif;
    
    font-weight: 300;
    font-size: 1.8em;
    line-height: 2.5em;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 0px;
    width: 70%;
    margin: auto;

}

 #scan-course{
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 3rem;
    
 }
/* 小型设备（平板电脑，768px 起） */
@media only screen and (max-width: 768px) { 
.lead{
    font-size: 17px;
    line-height: 2em;
    font-family: 'Helvetica Neue', Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif;
    text-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 0px;
    }
#scan-course{
    
    margin-top: 1rem;
    
 }

}

/* 中型设备（台式电脑，992px 起） */
@media (min-width: 768px) and (max-width: 992px)  {
.lead{
    font-size: 24px;
    line-height: 2em;
    font-family: 'Helvetica Neue', Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif;
    }
}

/* 大型设备（大台式电脑，1200px 起） */
@media only screen and (min-width: 1200px) { 
.lead{
    font-size: 30px;
    line-height: 2em;
    font-family: 'Helvetica Neue', Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif;
    }
 }

/*宗旨加优势开始*/
#purpose{
    width: 100%;
    height: auto;
    margin: auto;
    /*background-color: navajowhite;*/
    padding-bottom: 3rem;
}
#purpose-word{
    width: 60%;
    height: auto;
    margin: auto;
    padding-top: 3rem;
}
#our-purpose-title{
    color: #000000;
    font-size: 3rem;
    font-weight: 400;
    font-style: italic;
    font-family: 'Helvetica Neue', Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif;
}
#our-purpose-content{
    color: #314a56;
    font-size: 1rem;
}
#purpose-advantage{
    margin: auto;
    text-align: center;
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:9.375rem;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color: rgb(52, 147, 213);
}
.heiti-normal1{/*字体声明*/
    /*font-family:"heiti-normal" !important;*/
    font-size:1.875rem;font-style:normal;
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color: rgb(52, 147, 213);
}
.advantage-content{
    margin-top:1rem;
    font-size: 1rem;
    line-height: 1.7rem;
    color: rgb(163, 163, 163);
}
/* 小型设备（平板电脑，768px 起） */
@media only screen and (max-width: 768px) {
    #purpose-word{
    width: 100%;
    height: auto;
    margin: auto;
    padding-top: 1rem;
}
#our-purpose-title{
    color: #000000;
    font-size: 30px;
    font-weight: 400;
    font-style: italic;
    font-family: 'Helvetica Neue', Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif;
}

}

/* 中型设备（台式电脑，992px 起） */
@media (min-width: 768px) and (max-width: 992px)  {


}
/*宗旨加优势结束*/

/*师资力量开始*/
#teacher{
    width: 100%;
    height: auto;
    background-color: rgb(245, 245, 245);
    padding-bottom: 3rem;
}
#teacher-title{
    width: 60%;
    height: auto;
    margin: auto;
    padding-top: 3rem;
}
#teacher-title-p{
    color: rgb(86, 86, 86);
    font-size: 3rem;
    font-weight: 400;
    font-style: italic;
    font-family: 'Helvetica Neue', Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif;
}
#teacher-content{
    margin-top: 3rem;
}
@media only screen and (max-width: 768px) {
#teacher{
    padding-bottom: 0.3rem;
}
#teacher-title{
    width: 100%;
    height: auto;
    margin: auto;
    padding-top: 1rem;
}
#teacher-title-p{
    color: rgb(86, 86, 86);
    font-size: 30px;
    font-weight: 400;
    font-style: italic;
    font-family: 'Helvetica Neue', Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif;
}
#teacher-content{
    margin-top: 1rem;
}
}
/*师资力量结束*/

/*覆盖图片-开始*/
#profession-pic{
    width: 100%;
    height: auto;
    text-align: center;
}
#profession-img1{
    margin: auto;
}
/*覆盖图片-结束*/

/*优秀学员-开始*/
#super-student{
    width: 100%;
    height: auto;
    background-color: rgb(245, 245, 245);
    padding-bottom: 3rem;
}
#student-content{
    margin-top: 2rem;
    text-align: center;
}
#student-title{
    width: 60%;
    height: auto;
    margin: auto;
    padding-top: 3rem;
}
#student-title-p{
    color: rgb(86, 86, 86);
    font-size: 3rem;
    font-weight: 400;
    font-style: italic;
    font-family: 'Helvetica Neue', Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif;
}
.student-name{
    color: white;
    font-size: 1rem;
    font-weight: 600;
}
.student-desc{
    color: rgb(92, 92, 92);
    font-family: 'Helvetica Neue', Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif;
    line-height: 1.5rem;
}
@media only screen and (max-width: 768px) {

    #student-title-p {
        color: rgb(86, 86, 86);
        font-size: 30px;
        font-weight: 400;
        font-style: italic;
        font-family: 'Helvetica Neue', Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif;
    }
    #super-student{
        padding-bottom: 0.3rem;
    }
}
/*优秀学员-结束*/

/*备考规划-开始*/
#plan{
    width: 100%;
    height: auto;
    padding-bottom: 3rem;
}
#plan-title{
    width: 60%;
    height: auto;
    margin: auto;
    padding-top: 3rem;
}
#plan-title-p{
    color: black;
    font-size: 3rem;
    font-weight: 400;
    font-style: italic;
    font-family: 'Helvetica Neue', Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif;
}
.plan1{
    margin-top: 4rem;
}
#plan-one{
    margin-top: 1rem;
}
.plan-world1{
    padding-top: 6rem;
}
.section-title1{
    color: rgb(86, 86, 86);
    font-size: 2rem;
    text-align: left;

}
.section-content1{
    text-align: left;
    color: rgb(51, 51, 51);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 2rem;
    margin-top: 2rem;
}
.plan-pic1{
    text-align: center;
}
.iconfont-plan{
    font-family:"iconfont" !important;
    font-size:14rem;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color: rgb(52, 147, 213);

}
@media only screen and (max-width: 768px) {
     #plan-title-p {
        color: rgb(86, 86, 86);
        font-size: 30px;
        font-weight: 400;
        font-style: italic;
        font-family: 'Helvetica Neue', Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif;
    }
    .plan1{
        margin-top: 0rem;
    }
    #plan-one{
        margin-top: 0rem;
    }
    .plan-world1{
        padding-top: 2rem;
    }
    .section-title1{
        font-size: 1.5rem;
    }
    .section-content1{
        margin-top: 1rem;
        font-size: 0.8rem;
    }
}
/*备考规划-结束*/

/*课程-开始*/
#course{
    width: 100%;
    height: auto;
    background-color: rgb(245, 245, 245);
    padding-bottom: 3rem;
}
#course-container{
    margin-top: 2rem;
}
#course-title{
    width: 60%;
    height: auto;
    margin: auto;
    padding-top: 3rem;
}
#course-title-p{
    color: black;
    font-size: 3rem;
    font-weight: 400;
    font-style: italic;
    font-family: 'Helvetica Neue', Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif;
}
#course-subtitle{
    width: 60%;
    height: auto;
    margin: auto;
    /*border-bottom: 1px solid rgb(238, 238, 238);*/

}
#course-subtitle-p{
    color: rgb(51, 51, 51);
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Helvetica Neue', Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif;
}
@media only screen and (max-width: 768px) {
     #course-title-p {
        color: rgb(86, 86, 86);
        font-size: 30px;
        font-weight: 400;
        font-style: italic;
        font-family: 'Helvetica Neue', Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif;
    }
    #course-subtitle-p{
    color: rgb(51, 51, 51);
    font-size: 0.8rem;
    font-family: 'Helvetica Neue', Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif;
}
}
/*课程-结束*/

/*footer-开始*/
#footer{
    width: 100%;
    background-color: #2d2d2d;
    height: 3rem;

}
#footer p{
    color: #666;
    font-size: 0.8rem;
    line-height: 3rem;

}
/*footer-结束*/

/*go-up*/
.go-up-title{
    color: #4694D1;
    font-weight: 900;
}